body{
    background-color: gray;
    margin:0;
    padding:0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(41, 41, 41);
    padding: 20px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px 10px rgb(0, 0, 0, 0.4),
        inset -6px -6px 6px 6px rgb(0, 0, 0, 0.4);
}

.visor{
    color: rgb(0, 200, 0);
    min-height: 65px;
    background-color: rgba(0, 0, 0, 0.603);
    text-align: right;
    width: 85%;
    margin: auto;
    padding: 8px;
    padding-right: 40px;
    border: 8px solid steelblue;
    border-radius: 20px;
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 2px 2px 15px lightgreen;
    box-shadow: inset px 15px 10px 10px rgb(255, 255, 255);


}

.container-teclas{
    margin: 0;
    padding: 10px;
    width: 90%;
    background-color: rgb(31, 31, 31);
    border: 6px solid rgb(31, 31, 31);
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tecla, .tecla-esp{
    padding: 8px;
    background-color: white;
    color: steelblue;
    margin: 10px;
    border-radius: 10px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 0, 0.4);
}

.tecla-esp{
    background-color: steelblue;
    color: rgb(255, 254, 254);
}

.tecla:active, .tecla-esp:active{
    padding: 10px 10px 6px 6px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.7);
    transform: scale(0.97); 
    font-size: 2em;
}



.tecla:active{
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.7);
}

.tecla:hover , .tecla-esp:hover{
    cursor: pointer;

}
#Botao {
    margin: 10px;
    padding: 20px;
    background-color:  lightgreen;
    color: rgb(255, 254, 254);
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 0, 0.4);
    transition: all 0.1s ease-in-out; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}